<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <style>
        .tabla{
            display: flex;
            flex-wrap: wrap;
            padding: 1rem;
            border: 3px solid black;
            gap: 1rem;
            max-width: 50%;
            margin: 3rem auto;

        }


        .hijos{
            flex-grow: 1;
            height: 200px;
            width: 200px;
            border-radius: 40px;
            background-color: tomato;

        }
    </style>

    <div class="tabla">
        <div class="hijos"></div>
        <div class="hijos"></div>
        <div class="hijos"></div>
        <div class="hijos"></div>
        <div class="hijos"></div>
        <div class="hijos"></div>
        <div class="hijos"></div>
        <div class="hijos"></div>
        <div class="hijos"></div>
    </div>
    
</body>
</html>